/*
Usages:

primary bg color for page colors.

secondary bg colors for nav colors and can be used anywhere (bg1 for dark colors like for upper part of nav and bg2 for light colors like for lower part to make the best gradient). Its also used for buttons and different shadows.

primary font color for font color on pages.

secondary font color for nav font colors and other areas.

title font1 color and title font2 color is for home page and projects page title and subtitle colors.

nav hover bg color is for hover bg color for nav links. 

icon filter is for changing the icon color to match the modes (dark or light).

home desc color is for home section description font color. home desc sm color is for home section description font color for smaller screens.

project border color is the border color for project links.

project number color is the project number font color.

project desc color is the project description font color.

project link font color is the font color of project links and project link hover color is the font color of project links when hovered.

project link bg1 and bg2 colors are for background gradient of project links when hovered.

more projects btn color is the font color of more projects button. more projects hover color is the font color of more projects button when hovered. 

font size for the root element.

inner padding for the padding used in nav and section elements to give exact same padding.

nav width is the width taken by the navbar on left side.
*/

// normal colors for light mode
:root{
    // Purple and Blue Shades:

    // bluish gradient bg
    // --primary_bg_color: radial-gradient(rgba(209, 229, 240, 0.781), rgb(129, 179, 233, 0.8));

    // clayish color
    // --primary_bg_color: rgb(212, 202, 202);

    // purplish backgrounds
    // --secondary_bg1_color: #802657;
    // --secondary_bg2_color: #b9627f;

    // purplish titles
    // --title_font1_color: rgb(59, 4, 25);
    // --title_font2_color: rgb(129, 62, 62);

    // Brown Shades:

    // brownish and clayish gradient 
    --primary_bg_color: radial-gradient(rgb(212, 202, 202), rgb(230, 219, 219));
    // minimal brownish
    --secondary_bg1_color: #7e0a0c;
    --secondary_bg2_color: rgb(211, 116, 116);
    --primary_font_color: #000;
    --secondary_font_color: #FAFAFA;
    
    // minimal brownish
    --title_font1_color: rgb(59, 4, 4);
    --title_font2_color: rgb(129, 62, 62);

    // nav section colors
    --nav_hover_bg_color: linear-gradient(to right, rgb(184, 246, 220), rgb(253, 202, 120));

    --icon-filter: invert(2%);

    // home section colors
    --home_desc_color: rgb(87, 86, 86);
    --home_desc_sm_color: rgb(78, 78, 78);
    
    // project section colors
    --project_border_color: #333;
    --project_number_color: rgba(0,0,0,0.1);
    --project_desc_color: rgb(54, 53, 53);
    --project_link_font_color: darkblue;
    --project_link_hover_color: white;
    --project_link_bg1_color: #6F0F11;
    --project_link_bg2_color: #DE2D30;
    --more_projects_btn_color: #180102;
    --more_projects_hover_color: whitesmoke;

    --font_size: 62.5%;
    --inner_padding: 40px;
    --nav_width: 220px;
}

@media(prefers-color-scheme: dark){

    // when user preference is dark mode, then add class dark from the javascript
    :root.dark{
        --primary_bg_color: radial-gradient(rgb(39, 35, 35), rgb(44, 36, 36));
        
        // minimal brownish
        --secondary_bg1_color: #f6a5a6;
        --secondary_bg2_color: rgb(253, 192, 192);
        --primary_font_color: rgb(245, 229, 229);
        --secondary_font_color: rgb(32, 15, 15);
        
        // minimal brownish
        --title_font1_color: rgb(253, 186, 186);
        --title_font2_color: rgb(243, 203, 203);

        // nav section colors
        --nav_hover_bg_color: linear-gradient(to right, rgb(77, 105, 93), rgb(22, 73, 121));

        --icon-filter: invert(100%);

        // home section colors
        --home_desc_color: rgb(199, 184, 184);
        --home_desc_sm_color: rgb(228, 175, 126);

        // project section colors
        --project_border_color: rgb(202, 200, 200);
        --project_number_color: rgba(223, 223, 223, 0.2);
        --project_desc_color: rgb(184, 173, 173);
        --project_link_font_color: whitesmoke;
        --project_link_hover_color: rgb(46, 43, 43);
        --project_link_bg1_color: #e07f81;
        --project_link_bg2_color: #fdabad;
        --more_projects_btn_color: #c2a0a2;
        --more_projects_hover_color: rgb(102, 22, 22);
    }
}