section#home{
    display: grid;
    grid-template-rows: max-content; // so that rows don't expand much
    grid-template-areas: 'title image' 'description description';

    // title is placed in center of that grid cell
    // description is placed in flex-start of that grid cell
    // image wrapper is placed in center of that grid cell
    
    article#title, article#description{
        display: flex;
        flex-direction: column;
    }

    article#title{
        grid-area: title;
        gap: 2rem;
        justify-content: center;
        font-size: 6rem;
        font-weight: 500;
        max-width: max-content;

        span{
            background: linear-gradient(to bottom, $title_font1_color, $title_font2_color);
            -webkit-text-fill-color: transparent;
            background-clip: text; // background clipping helps in text masking
        }
    }

    article#description{
        grid-area: description;
        gap: 0.5rem;
        font-size: 3rem;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-style: italic;
        color: rgb(87, 86, 86);
    }

    article#image-wrapper{
        grid-area: image;
        display: flex;
        align-items: flex-start;
        max-width: max-content; // so that the wrapper takes all the content inside it

        filter: drop-shadow(12px -2px 10px $secondary_bg2_color) drop-shadow(-12px 3px 10px $secondary_bg1_color) drop-shadow(0px -3px 3px $secondary_bg2_color);
        // adding drop shadow on image wrapper helps to have shadow on clipped image

        &:hover, &:focus {
            animation: imageRollup 1.2s ease-in-out 0s infinite alternate;
        }
        
        img{
            --home-img-width: 35rem;
            // $clippedSize: calc(0.4*$width);
            width: var(--home-img-width);
            clip-path: circle(at 55% 50%);
            cursor: pointer;
        }
    }

    // handled in javascript, to only appear once the page reloads
    @keyframes imageAppear {
        from{
            transform: translateY(-100%);
        }
        to{
            transform: translateY(0%);
        }
    }

    @keyframes imageRollup {
        from{
            transform: rotateY(0deg) scale(1, 1);
        }
        to{
            transform: rotateY(45deg) scale(1.2, 1.1);
        }        
    }
}

@media(max-width: 1200px){
    section#home{
        article#title{
            gap: 1rem;
        }
    }
}

@media(max-width: 700px), (max-height: 600px){
    section#home{
        gap: 25px;
        article#image-wrapper img{
            --home-img-width: 30rem;
        }
    }
}

@media(max-width: 600px){
    section#home{
        grid-template-areas: 'image image' 'title title' 'description description';

        article#title{
            font-size: 4.5rem;
        }

        article#image-wrapper{
            max-width: inherit;
            // for larger screens, its max width was max-content to take up only image part
            // for smaller screens, its max width is inherit so that it takes up total available space in the home section grid
            display: grid;
            place-items: center;
        }

        article#description{
            font-size: 2.5rem;
            font-weight: bold;
            color: rgb(116, 116, 116);
        }
    }
}
