header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 50;
  height: inherit;
  // height 100vh just makes that 100vh but as we scroll, if some part of header scrolls up, then we see white gaps below. So, do height inherit to inherit the parent element

  width: var(--navbar_width); // to make that width perfect
  max-width: var(--navbar_width); // to not overflow from taking more width
}

// header element animate on click of hamburger or outside click
@keyframes headerAppear {
  from {
    display: none;
    transform: translateX(-100%);
    pointer-events: none;
    z-index: -1;
  }
  to {
    display: initial;
    transform: translateX(0%);
    pointer-events: all;
    z-index: 50;
  }
}

@keyframes headerDisappear {
  from {
    display: initial;
    transform: translateX(0%);
    pointer-events: all;
    z-index: 50;
  }
  to {
    transform: translateX(-100%);
    pointer-events: none;
    z-index: -1;
    display: none;
  }
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  z-index: 20;
  background: linear-gradient(
    to bottom,
    var(--secondary_bg1_color),
    var(--secondary_bg2_color)
  );

  height: inherit;
  min-width: inherit; // take up what's header element takes

  padding: var(--navbar_inner_padding);

  a {
    color: var(--secondary_font_color);
  }

  img {
    width: 45px;
    fill: aliceblue;
  }

  ul.nav-pages {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 30px;

    li {
      font-size: 2.5rem;
      font-weight: 600;
      margin: 12px 0;
      width: 100%;
      padding: 5px 0;
      letter-spacing: 3px;
    }

    li a {
      display: inline-block;
      width: 100%;
      height: 100%;
      text-align: center;
    }
  }

  ul.nav-pages li {
    &:hover,
    &:focus {
      background: var(--nav_pages_hover_bgcolor);
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      background-clip: text; // background clipping helps in text masking
    }
  }

  ul.nav-external-links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3.2rem;

    li {
      width: 100%;
      height: 100%;
    }

    li a {
      display: block; // as anchor tag is display inline, and to change its width and height, we have to do display: block
      text-align: center; // to center the images inside this anchro tag
      width: 100%;
      height: 100%;
    }

    li img {
      width: 100%;
      height: 100%;

      // normally, img takes up the total width and height of its parent, but a max width and height is necessary to stop having extra large images
      max-width: 57px;
      max-height: 57px;
    }
  }
}

@media (max-width: 1200px) {
  // initially hide the header and on hamburger click, unhide this header via headerAppear animation and hide via headerDisappear animation
  header {
    display: none;
    transform: translateX(-100%);
    pointer-events: none;
    z-index: -1;
  }
}

@media (max-width: 500px) {
  header {
    --navbar_width: 200px;
  }
}

// on max-width: 500px or on max height of 650px
@media (max-width: 500px), (max-height: 650px) {
  nav {
    --navbar_inner_padding: 50px;

    ul.nav-pages li {
      font-size: 2.4rem;
    }

    ul.nav-external-links {
      gap: 3rem;
    }
  }
}
