$hamburger-width: 60px;
$hamburger-padding: 10px;

.hamburger{
    position: fixed;
    top: 3%;
    right: 3%;
    z-index: 10;
    width: $hamburger-width;
    height: fit-content;
    max-height: fit-content;
    padding: $hamburger-padding;
    margin: 15px;
    cursor: pointer;
    clip-path: circle(20px at 60% 55%);

    .hamburger-line{
        display: block;
        margin-bottom: 5px;
        background: radial-gradient( $secondary_bg1_color, $secondary_bg2_color);
        width: #{'calc(#{$hamburger-width} - #{2*$hamburger-padding})'}; // hamburger width - 2*hamburger padding
        height: 5.5px;
    }
}

nav{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    background: linear-gradient(to bottom, $secondary_bg1_color, $secondary_bg2_color);

    height: inherit;
    min-width: inherit; // take up what's header element takes

    padding: $inner_padding;

    a{
        color: $secondary_font_color;
    }

    img{
        width: 45px;
        fill: aliceblue;
    }

    ul.nav-sections{
        display: flex;
        flex-direction: column; 
        justify-content: flex-start;
        margin-bottom: 30px;

        li{
            font-size: 2.5rem;
            font-weight: 600;
            margin: 12px 0;
            width: 100%;
            padding: 5px 0;
            letter-spacing: 3px;
        }

        li a{
            display: inline-block;
            width: 100%;
            height: 100%;
            text-align: center;
        }
    }

    ul.nav-sections li{
        &:hover, &:focus{
            background: linear-gradient(to right, rgb(243, 231, 177), rgb(233, 231, 124));
            -webkit-text-fill-color: transparent;
            background-clip: text; // background clipping helps in text masking
        }
    }

    ul.nav-links{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3.5rem;
    }
}

// on max-width: 500px or max-height: 600px
@media(max-width: 500px), (max-height:600px){
    nav{
        img{
            width: 38px;
        }

        ul.nav-sections li{
            font-size: 2.4rem;
        }
    
        ul.nav-links{
            gap: 3.1rem;
        }
    }
}
