$button-font-color: #fff;
$button-bg-color: $secondary-bg1-color;
$button-bg-hovered: lighten($color: $secondary-bg1-color, $amount: 40);
$button-font-color-hovered: darken($secondary-bg1-color, $amount: 50);

$outer-border-project: 10px;

section#projects{
    // previously I wanted both sections on different pages, so height was 100vh
    // min-height: 100vh;
    // height: 100vh;

    #projects-heading{
        font-size: 4rem;
    }

    article#project-section{
        display: grid;
        grid-template-areas: 'title image' 'description image' 'links image';
        gap: 15px;

        font-size: 2rem;
        margin-bottom: 30px;
        border: 2px solid $secondary-bg1-color;
        border-radius: 10px;
        padding: 15px;
        box-shadow: 2px 7px 7px $secondary-bg1-color, 2px 10px 7px grey;
        transition: all 0.5s ease-out;

        &:hover, &:focus{
            transform: translateY(10px);
        }
    }

    article#project-section:nth-child(2n+1){
        grid-template-areas: 'image title' 'image description' 'image links';
    }

    #project-title{
        grid-area: title;
        color: $title-font1-color;
    }

    #project-description{
        grid-area: description;

        width: clamp(30ch, auto, 90ch);
        // minimum 30 characters and max: 90 characters and preferred width is auto
        color: rgb(87, 86, 86);
    }

    #project-links{
        grid-area: links;
        display: flex;
        gap: 25px;
    }

    #project-links a{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: 600;
        background: $button-bg-color;
        color: $button-font-color;
        padding: 10px 15px;
        border-radius: 30px;
        transition: all 0.2s ease-in;
        text-align: center;

        &:hover, &:focus{
            background: $button-bg-hovered;
            color: $button-font-color-hovered;
        }
    }

    #project-img-wrapper{
        grid-area: image;
    }
}

@media(max-width: 700px){
    section#projects{
        #project-links{
            gap: 15px;
        }
    }

    #project-img-wrapper img{
        width: 200px;
        height: 133px;
    }
}

