$project-link-bg1-color: darken($secondary-bg1-color, $amount: 10);
$project-link-bg2-color: lighten($secondary-bg1-color, $amount: 30);

$more-projects-btn-color: darken($title-font1-color, $amount: 30);

section#projects{
    // previously I wanted both sections on different pages, so height was 100vh
    // min-height: 100vh;
    // height: 100vh;

    #projects-heading{
        font-size: 4rem;
    }

    article#project-section{
        display: grid;
        grid-template-areas: 'title image' 'description image' 'links image';
        gap: 15px;

        font-size: 2rem;
        margin-bottom: 30px;
        border: 2px solid $secondary-bg1-color;
        border-radius: 10px;
        padding: 15px;
        box-shadow: 2px 7px 7px $secondary-bg1-color, 2px 10px 7px grey;
        transition: all 0.5s ease-out;

        &:hover, &:focus{
            transform: translateY(10px);
        }
    }

    article#project-section:nth-child(2n+1){
        grid-template-areas: 'image title' 'image description' 'image links';
    }

    #project-title{
        grid-area: title;
        color: $title_font1_color;
    }

    #project-description{
        grid-area: description;

        width: clamp(30ch, auto, 90ch);
        // minimum 30 characters and max: 90 characters and preferred width is auto
        color: rgb(87, 86, 86);
    }

    #project-links{
        grid-area: links;
        display: flex;
        gap: 25px;
    }

    #project-links a{
        // css variables are used here as css variables are reference oriented, so if I change it for smaller screens, it would affect the usage also
        --project-link-border-radius: 30px;

        position: relative;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: 600;
        background: none;
        color: darkblue;
        padding: 10px 15px;
        border-bottom: 5px solid #333;
        border-radius: var(--project-link-border-radius);
        text-align: center;

        // mixin used here
        @include buttonTransparentTTB(linear-gradient(to bottom, $project-link-bg1-color, $project-link-bg2-color));

        &:hover{
            color: white;
        }

        &::after{
            border-radius: var(--project-link-border-radius);
        }
    }

    #project-img-wrapper{
        grid-area: image;
    }

    #more-projects-wrapper{
        display: block;
        width: 100%;
        display: grid;
        place-items: center;
    }

    a#more-projects-link{
        margin-top: 15px;
        font-size: 2.5rem;
        padding: 20px;
        color: $more-projects-btn-color;
        border: 5px solid $secondary-bg2-color;
        border-radius: 6px;

        background: none;
        box-shadow: 2px 7px 10px #333;

        // mixin used here
        @include buttonTransparentLTR(linear-gradient(to right, rgb(251, 202, 123),rgb(255, 167, 229)));
    }
}

@media(max-width: 700px){
    section#projects{
        #project-links{
            gap: 15px;
        }

        #project-links a{
            --project-link-border-radius: 15px;
        }
    }

    #project-img-wrapper img{
        width: 200px;
        height: 133px;
    }
}

