/*
Usages:

primary bg color for page colors.

secondary bg colors for nav colors and can be used anywhere (bg1 for upper part of nav and bg2 for lower part to make the best gradient).

primary font color for font color on pages.

secondary font color for nav font colors and other areas.

title font1 color and title font2 color is for home page title colors.

font size for the root element.

inner padding for the padding used in nav and section elements to give exact same padding.

nav width is the width taken by the navbar on left side.
*/
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 62.5%;
}

body {
  background-color: whitesmoke;
  color: #000;
  display: grid;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

header {
  height: 100vh;
}

main {
  position: absolute;
  left: min(20vw, 250px);
  height: 100vh;
  min-width: 75vw;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  background: linear-gradient(to bottom, #7e0a0c, #ff9797);
  width: min(20vw, 250px);
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  padding: 4rem;
}
nav a {
  color: #FAFAFA;
}
nav img {
  width: 45px;
  fill: aliceblue;
}
nav ul.nav-sections {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 30px;
}
nav ul.nav-sections li {
  font-size: 2.5rem;
  font-weight: 600;
  margin: 12px 0;
  width: 100%;
  padding: 5px 0;
  letter-spacing: 3px;
}
nav ul.nav-sections li a {
  display: inline-block;
  width: 100%;
  height: 100%;
  text-align: center;
}
nav ul.nav-links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3.5rem;
}

section#home {
  max-height: 100vh;
  padding: 5rem 7rem;
  display: grid;
  grid-template-areas: "title image" "description description";
}
section#home article#title, section#home article#description {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
section#home article#title {
  grid-area: title;
  gap: 2rem;
  font-size: 6rem;
  font-weight: 500;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}
section#home article#title span {
  background: linear-gradient(to bottom, #3b0404, #813e3e);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
}
section#home article#description {
  grid-area: description;
  gap: 0.5rem;
  font-size: 3rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-style: italic;
  color: #575656;
}
section#home article#image-wrapper {
  grid-area: image;
  display: flex;
  align-items: flex-start;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  filter: drop-shadow(-1px 15px 10px #ff9797) drop-shadow(-12px 2px 7px #7e0a0c);
}
section#home article#image-wrapper img {
  width: 35rem;
  -webkit-clip-path: circle(at 55% 50%);
          clip-path: circle(at 55% 50%);
}/*# sourceMappingURL=main.css.map */