/*
Usages:

primary bg color for page colors.

secondary bg colors for nav colors and can be used anywhere (bg1 for dark colors like for upper part of nav and bg2 for light colors like for lower part to make the best gradient). Its also used for buttons and different shadows.

primary font color for font color on pages.

secondary font color for nav font colors and other areas.

title font1 color and title font2 color is for home page and projects page title and subtitle colors.

font size for the root element.

inner padding for the padding used in nav and section elements to give exact same padding.

nav width is the width taken by the navbar on left side.
*/
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: "M PLUS Rounded 1c", sans-serif;
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  font-size: 62.5%;
}

body {
  background: radial-gradient(#d4caca, #c3adad);
  color: #000;
  display: grid;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 50;
  height: inherit;
  width: 220px;
  max-width: 220px;
}

main {
  position: absolute;
  left: 220px;
  top: 0;
  right: 0;
  --main-section-width: calc(95vw - 220px);
  width: var(--main-section-width);
  max-width: var(--main-section-width);
  padding: 50px;
}
main section {
  padding: 30px 0;
}
main section .sub-heading {
  font-size: 4rem;
}

.hamburger {
  position: fixed;
  top: 3%;
  right: 3%;
  z-index: 10;
  width: 60px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  padding: 10px;
  margin: 15px;
  cursor: pointer;
  -webkit-clip-path: circle(20px at 60% 55%);
          clip-path: circle(20px at 60% 55%);
}
.hamburger .hamburger-line {
  display: block;
  margin-bottom: 5px;
  background: radial-gradient(#7e0a0c, #d37474);
  width: calc(60px - 20px);
  height: 5.5px;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  background: linear-gradient(to bottom, #7e0a0c, #d37474);
  height: inherit;
  min-width: inherit;
  padding: 40px;
}
nav a {
  color: #FAFAFA;
}
nav img {
  width: 45px;
  fill: aliceblue;
}
nav ul.nav-sections {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 30px;
}
nav ul.nav-sections li {
  font-size: 2.5rem;
  font-weight: 600;
  margin: 12px 0;
  width: 100%;
  padding: 5px 0;
  letter-spacing: 3px;
}
nav ul.nav-sections li a {
  display: inline-block;
  width: 100%;
  height: 100%;
  text-align: center;
}
nav ul.nav-sections li:hover, nav ul.nav-sections li:focus {
  background: linear-gradient(to right, #f3e7b1, #e9e77c);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
}
nav ul.nav-links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3.5rem;
}

@media (max-width: 500px), (max-height: 600px) {
  nav img {
    width: 38px;
  }
  nav ul.nav-sections li {
    font-size: 2.4rem;
  }
  nav ul.nav-links {
    gap: 3.1rem;
  }
}
section#home {
  display: grid;
  grid-template-rows: -webkit-max-content;
  grid-template-rows: max-content;
  grid-template-areas: "title image" "description description";
}
section#home article#title, section#home article#description {
  display: flex;
  flex-direction: column;
}
section#home article#title {
  grid-area: title;
  gap: 2rem;
  justify-content: center;
  font-size: 6rem;
  font-weight: 500;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}
section#home article#title span {
  background: linear-gradient(to bottom, #3b0404, #813e3e);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
}
section#home article#description {
  grid-area: description;
  gap: 0.5rem;
  font-size: 3rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-style: italic;
  color: #575656;
}
section#home article#image-wrapper {
  grid-area: image;
  display: flex;
  align-items: flex-start;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  filter: drop-shadow(12px -2px 10px #d37474) drop-shadow(-12px 3px 10px #7e0a0c) drop-shadow(0px -3px 3px #d37474);
}
section#home article#image-wrapper:hover, section#home article#image-wrapper:focus {
  -webkit-animation: imageRollup 1.2s ease-in-out 0s infinite alternate;
          animation: imageRollup 1.2s ease-in-out 0s infinite alternate;
}
section#home article#image-wrapper img {
  --home-img-width: 35rem;
  width: var(--home-img-width);
  -webkit-clip-path: circle(at 55% 50%);
          clip-path: circle(at 55% 50%);
  cursor: pointer;
}
@-webkit-keyframes imageAppear {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0%);
  }
}
@keyframes imageAppear {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0%);
  }
}
@-webkit-keyframes imageRollup {
  from {
    transform: rotateY(0deg) scale(1, 1);
  }
  to {
    transform: rotateY(45deg) scale(1.2, 1.1);
  }
}
@keyframes imageRollup {
  from {
    transform: rotateY(0deg) scale(1, 1);
  }
  to {
    transform: rotateY(45deg) scale(1.2, 1.1);
  }
}

@media (max-width: 1200px) {
  section#home article#title {
    gap: 1rem;
  }
}
@media (max-width: 700px), (max-height: 600px) {
  section#home {
    gap: 25px;
  }
  section#home article#image-wrapper img {
    --home-img-width: 30rem;
  }
}
@media (max-width: 600px) {
  section#home {
    grid-template-areas: "image image" "title title" "description description";
  }
  section#home article#title {
    font-size: 4.5rem;
  }
  section#home article#image-wrapper {
    max-width: inherit;
    display: grid;
    place-items: center;
  }
  section#home article#description {
    font-size: 2.5rem;
    font-weight: bold;
    color: #747474;
  }
}
section#skills ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 30px;
  margin: 25px;
}
section#skills li {
  display: flex;
  justify-content: center;
  align-items: center;
}
section#skills li img {
  width: 150px;
  height: auto;
  cursor: pointer;
}

section#projects article#project-section {
  display: grid;
  grid-template-areas: "title image" "description image" "links image";
  gap: 15px;
  font-size: 2rem;
  position: relative;
  overflow: hidden;
  padding: 50px;
  margin: 0px 30px 30px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  background: rgba(255, 255, 255, 0.1);
  border-top: 5px solid rgba(255, 255, 255, 0.1);
  border-left: 5px solid rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  transition: transform 0.3s ease;
}
section#projects article#project-section:hover, section#projects article#project-section:focus {
  transform: scale(1.03, 1.04);
}
section#projects .project-number {
  font-size: 10rem;
  position: absolute;
  top: -15px;
  right: -10px;
  pointer-events: none;
  color: rgba(0, 0, 0, 0.1);
}
section#projects article#project-section:nth-child(2n+1) {
  grid-template-areas: "image title" "image description" "image links";
}
section#projects #project-title {
  grid-area: title;
  color: #3b0404;
}
section#projects #project-description {
  grid-area: description;
  width: clamp(30ch, auto, 90ch);
  color: #363535;
}
section#projects #project-links {
  grid-area: links;
  height: 100%;
  display: flex;
  align-items: flex-end;
  gap: 25px;
}
section#projects #project-links a {
  --project-link-border-radius: 30px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-weight: 600;
  background: none;
  color: darkblue;
  padding: 10px 15px;
  border-bottom: 5px solid #333;
  border-radius: var(--project-link-border-radius);
  text-align: center;
  vertical-align: middle;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
}
section#projects #project-links a::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background: linear-gradient(to bottom, #4f0608, #ef3236);
  transform-origin: top;
  transition: height 0.3s ease;
  z-index: -1;
}
section#projects #project-links a:hover::after, section#projects #project-links a:focus::after {
  height: 100%;
}
section#projects #project-links a:hover, section#projects #project-links a:focus {
  color: white;
}
section#projects #project-links a::after {
  border-radius: var(--project-link-border-radius);
}
section#projects #project-img-wrapper {
  grid-area: image;
  display: flex;
  justify-content: center;
  align-items: center;
}
section#projects #project-img-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left;
     object-position: left;
}
section#projects #more-projects-wrapper {
  display: block;
  width: 100%;
  display: grid;
  place-items: center;
}
section#projects a#more-projects-link {
  margin-top: 15px;
  font-size: 2.5rem;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  letter-spacing: 1.5px;
  padding: 20px;
  color: black;
  border: 5px solid #d37474;
  border-radius: 6px;
  background: none;
  box-shadow: 2px 7px 10px #333;
  position: relative;
  transition: all 0.3s ease;
}
section#projects a#more-projects-link::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: linear-gradient(to right, #7e0a0c, #d37474);
  transform-origin: left;
  transition: width 0.3s ease;
  z-index: -1;
}
section#projects a#more-projects-link:hover::after, section#projects a#more-projects-link:focus::after {
  width: 100%;
}
section#projects a#more-projects-link:hover, section#projects a#more-projects-link:focus {
  color: whitesmoke;
}

@media (max-width: 950px) {
  section#projects article#project-section {
    padding: 30px;
  }
}
@media (max-width: 830px) {
  section#projects article#project-section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
}
@media (max-width: 700px) {
  section#projects #project-links {
    gap: 15px;
  }
  section#projects #project-links a {
    --project-link-border-radius: 15px;
  }
}
@-webkit-keyframes headerAppear {
  from {
    display: none;
    transform: translateX(-100%);
    pointer-events: none;
    z-index: -1;
  }
  to {
    display: initial;
    transform: translateX(0%);
    pointer-events: all;
    z-index: 50;
  }
}
@keyframes headerAppear {
  from {
    display: none;
    transform: translateX(-100%);
    pointer-events: none;
    z-index: -1;
  }
  to {
    display: initial;
    transform: translateX(0%);
    pointer-events: all;
    z-index: 50;
  }
}
@-webkit-keyframes headerDisappear {
  from {
    display: initial;
    transform: translateX(0%);
    pointer-events: all;
    z-index: 50;
  }
  to {
    transform: translateX(-100%);
    pointer-events: none;
    z-index: -1;
    display: none;
  }
}
@keyframes headerDisappear {
  from {
    display: initial;
    transform: translateX(0%);
    pointer-events: all;
    z-index: 50;
  }
  to {
    transform: translateX(-100%);
    pointer-events: none;
    z-index: -1;
    display: none;
  }
}
@media (max-width: 1200px) {
  html {
    font-size: 56%;
  }

  header {
    display: none;
    transform: translateX(-100%);
    pointer-events: none;
    z-index: -1;
  }

  main {
    left: 0;
    --main-section-width: 100vw;
  }
}
@media (max-width: 400px), (max-height: 500px) {
  main {
    padding: 25px;
  }
}/*# sourceMappingURL=main.css.map */